.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color: #787878;
}

.footer-content h2{
    font-size: 2em;
}

.footer-content h5,
.sotial-network i {
    font-size: 1.5em;
}

.sotial-network{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}