.main{
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

span{
    color: #787878;
}

.download-cv{
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #787878;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgb(180, 180, 180);
}

.download-cv:hover{
    color: #000000;
    background-color: #fff;
    box-shadow: none;
    transition: ease-in .3s;
}

.image{
    width: 350px;
    border-radius: 10px;
    margin: auto;
    transition: transform 250ms;
}

.image:hover{
    box-shadow: 2px 2px 5px #787878;
    transform: translateY(-10px);
}